extend layout



mixin item(cName, eName, price, img, ref)
  a(href=ref)
    img.item(src=img)
    div.item
      h2= cName
      h3= eName
      h4= prce


block items

  -var cNames = pageData.cNamesAr;
  -var eNames = pageData.eNamesAr;
  -var prices = pageData.pricesAr;
  -var imgs = pageData.imgsAr;

  -var curCount = pageData.cartCount;

  -for(var i=0; i<curCount; i++){
    -var remove = "/TrzpbrGtpzVsty/" + i.toString();
    -var prce = "¥" + prices[i].toString();
    +item(cNames[i], eNames[i], prices[i], imgs[i], remove)
  -}

  -var totPrice = 0;
  -for(var i=0; i<prices.length; i++){
    -totPrice += Number(prices[i]);
  -}
  -totPrice = totPrice.toString();


  div.cartend
    a.left(href="/VarstVsty")
      h1 清空
    a.right(href="#alert1")
      h1 点单
      h2 统计: ¥#{totPrice}

  div.alert(id="alert1")
    div.popup
      h1 确认点单
      a#cancel(href="#") 取消
      a#confirm(href="#") 确认