extend layout



mixin item(cName, eName, price, img, ref)
  a(href=ref)
    img.item(src=img)
    div.item
      h2= cName
      h3= eName
      h4= prce


block items

  -var cNames = pageData.cNamesAr;
  -var eNames = pageData.eNamesAr;
  -var prices = pageData.pricesAr;
  -var imgs = pageData.imgsAr;

  -var curCount = pageData.cartCount;

  -for(var i=0; i<curCount; i++){
    -var remove = "/TrzpbrGtpzVsty/" + i.toString();
    -var prce = "¥" + prices[i].toString();
    +item(cNames[i], eNames[i], prices[i], imgs[i], remove)
  -}