meta(name="HandheldFriendly", content="true")
meta(name="MobileOptimized", content="320")
meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no")

mixin thumb(category, ref)
  a(href= ref)
    div.thumbnail
      h2= category

doctype
html
  head
    title #{title} - 城市书房
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#header
        img(src="/img/BookstoreIco.png")
        h1 城市书房
    div#leftNav

      -var categories = ["热饮", "冷饮", "茶", "零食"];
      -var refs = ["", "", "", ""];
      -var xi = categories.length;
      -for(var i=0; i<xi; i++){
       +thumb(categories[i],refs[i])
      -}
      a(href="")
        div.cart
          img(src="/img/cart.png" style="height: 80%; display: block; margin: auto; margin-top: 1vh; margin-bottom: 1vh;")
          h2 #{pageData.cartCount}

    div#mainContent
      block items