extend layout



mixin item(cName, eName, price, img, ref)
  a(href=ref)
    img.item(src=img)
    div.item
      h2= cName
      h3= eName
      h4= price



block items

  -var cNames = ["普洱茶", "大红袍", "绿茶1", "绿茶2"];
  -var eNames = ["Puer Tea (Black)", "Dahongpao (Black)", "Green Tea 1", "Green Tea 2"];
  -var prices = ["¥15", "¥15", "¥15", "¥15"];
  -var imgs = ["/img/puer.jpg","/img/puer.jpg","/img/green-tea.jpg","/img/green-tea.jpg"];
  -var refs = ["/SffYpVsty/201", "/SffYpVsty/202", "", ""];

  -var xi = cNames.length;
  -for(var i=0; i<xi; i++){
   +item(cNames[i], eNames[i], prices[i], imgs[i], refs[i])
  -}